{% extends "base.html" %}
{% block content%}

    <h2>{{ page_title }}</h2>
    <p>
        Vikings is the modern name given to seafaring people originally from Scandinavia, who from the late 8th to the
        late 11th centuries raided, pirated, traded and settled throughout parts of Europe. It’s easy to think of the
        Vikings simply as terrifying warriors but they also had regular baths and cleaned
        their ears using special spoons.
    </p>

    {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}